* {
    font-family: "Hurmit Nerd Font Propo";
    font-size: 14px;
}

window#waybar {
    background-color: #15161e;
    color: #a9b1d6;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    border: none;
    border-radius: 0;
    margin: 0;
}

#workspaces button,
#tags button {
    padding: 0 5px;
    background-color: transparent;
    color: #7dcfff;
    transition-duration: 0.5s;
    transition-property: background-color;
}

#workspaces button.active,
#workspaces button:hover,
#tags button:hover,
#tags button.focused {
    background: inherit;
    background-color: #414868;
    box-shadow: none;
    text-shadow: none;
}

#battery {
    color: #a9b1d6;
}

label:focus {
    background-color: #15161e;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #f7768e;
}

#pulseaudio-slider,
#backlight-slider {
    min-width: 150px;
    border-radius: 20px;
}

#cpu,
#tray,
#memory,
#pulseaudio,
#backlight,
#battery,
#custom-power,
#pulseaudio-slider,
#backlight-slider,
#clock,
#custom-notification {
    padding: 2px 7px;
}

#custom-power:hover{
    color: #414868;
}

#pulseaudio,
#backlight {
    min-width: 15px;
}

#custom-notification {
    padding-right: 12px;
    color: #e0af68;
    border-radius: 20px;
}

#custom-notification.notification {
    padding-right: 2px;
}

#pulseaudio-slider trough,
#backlight-slider trough {
    min-height: 10px;
    border-radius: 10px;
    border: solid 2px #a9b1d6;
    background-color: rgba(0, 0, 0, 0);
}

#pulseaudio-slider highlight,
#backlight-slider highlight {
    background-color: #a9b1d6;
    border-radius: 10px;
    border: none;
}

#pulseaudio-slider slider,
#backlight-slider slider {
    min-height: 0px;
    min-width: 0px;
    border: none;
    background-image: none;
    box-shadow: none;
}

#backlight-slider.five slider {
    background-color: rgba(0, 0, 0, 0);
}

#custom-power {
    color: #f7768e;
}
