* {
    background-image: none;
    box-shadow: none;
    font-family: "Hurmit Nerd Font Propo";
}

window {
    background-color: rgba(12, 12, 12, 0.9);
}

button {
    border-radius: 0;
    border-color: black;
    text-decoration-color: #C0CAF5;
    color: #C0CAF5;
    background-color: #15161E;
    border-style: solid;
    border-width: 1px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

button:active,
button:hover {
    background-color: #414868;
    outline-style: none;
}

#lock {
    font-size: 200px;
    color: #E0AF68;
}

#logout {
    font-size: 200px;
    color: #7DCFFF;
}

#suspend {
    font-size: 200px;
    color: #BB9AF7;
}

#hibernate {
    font-size: 200px;
    color: #7AA2F7
}

#shutdown {
    font-size: 200px;
    color: #F7768E;
}

#reboot {
    font-size: 200px;
    color:#9ECE6A;
}
